<div class="body1"> 
  <div class="container">
    <br>
      <h2 class="amatic text-center">COMPOSERS</h2>
      <br><div class="text-center"><%= link_to "作曲家を追加する", new_composer_path, "data-turbolinks": false %></div></br>
      <div class="row">
        <div class="text-center">
          <div class="card-group">
            <% @composers.each do |composer| %>
              
              
            
              <div class="col-lg-2 col-4">
                
                <div class="example">
                  <%= link_to composer_path(composer) do %>
                      
                    
                    <% if composer.profile_photo.attached? %>
                      <%= image_tag composer.profile_photo.variant(resize_to_fill: [1080, 1080]), class: "card-img-top"  %>
                    <% end %>
                  <% end %>
                  <div class="small-font"><%= composer.name %></div>
                </div>
              </div>
              
                  
              
            <% end %>
          </div> 
          
        </div>
      </div>
    </br>
  </div>
</div>