<% @composers = Composer.all%>
<div class="body1"> 
  <div class="container">
    <br>
      <h2 class="amatic text-center">REVIEWS</h2>
      <div class="text-center">
        <small>〜演奏体験記〜</small>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="text-center">
          <div class="card-group">
            <% @reviews.each do |review| %>
              <% post = review.post%>
              <% composer_id = PostComposer.find_by(post_id: post.id).composer_id%>
              <% composer = Composer.find(composer_id)%>
            
              <div class="col-lg-2 col-4">
                
                <div class="example">
                  <%= link_to review_path(review) do %>
                      
                    <%= image_tag composer.profile_photo.url(:medium), class: "card-img-top" %>
                    
                  <% end %>
                  <div class="small-font"><%= post.title %></div>
                </div>
              </div>
              
                  
              
            <% end %>
          </div> 
          
        </div>
      </div>
    </br>
  </div>
</div>